/*GENERAL*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Playfair Display",serif;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  



  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #f8f9fa;
}

header {
    background-color: #1e1e2f;
    padding: 20px;
    text-align: center;
}

.header-nav{
    list-style: none;
    padding: 0;
}

.header-nav li {
    display: inline;
    margin: 0 15px;
}

.header a {
    color: #f8f9fa;
    text-decoration: none;
}
/*
main {
    padding: 20px;
}

.header {
    margin-bottom: 40px;
    background-color: #2c2c3a;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #f8f9fa;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e2f;
    position: relative;
    bottom: 0;
    width: 100%;
}
*/
.galaxy-background {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background: radial-gradient(circle at 50% 50%, #3a1c5a, #000);
    overflow: hidden;
}

.star {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.8;
    animation: twinkle 1.5s infinite alternate;
}


.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}
/*
  body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: black;
    color: white;
    font-family: 'Arial', sans-serif;
}
*/
.galaxy-container {
    justify-content: center;
    background: black;
    margin-bottom: 380px;
    display: flex;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 20%;
}

#backtotop h1,.galaxy-container h1 {
    font-size: 3rem;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('path/to/your/stars-image.png') repeat;
    animation: moveStars 200s linear infinite;
    z-index: 1;
}



.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 1s ease forwards;
}







#timeline{
    width: 100%;
    background-color: black;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

  .timeline {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #0b0c1f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline-item {
    float: right;
    padding: 20px;
    position: relative;
    width: 50%;
    left: 6%;
    margin-bottom: 20px;
    clear: both;
  }
  
  .timeline-item-left{
    padding: 20px;
    position: relative;
    width: 50%;
    left: -6%;
    margin-bottom: 20px;
    clear: both;
  }
  
  .timeline-item:nth-child(odd) {
    left: 0;
  }
  
  .timeline-icon {
    position: absolute;
    top: 15px;
    left: -30px;
    background-color: black;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 10;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-icon-right {
    position: absolute;
    top: 15px;
    right: -30px;
    background-color:black;
    z-index: 10;
    border: 3px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-content {
    padding: 20px;
    color: #fff;
    background-color: #0b0c1f;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-content-box-left {
    padding: 20px;
    background-color: #fff;
    position: relative;
    /* margin-right: 2px; */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-content h3 {
    margin-top: 0;
    color: white;
  }
  
  .timeline-content p {
    margin: 10px 0;
  }
  
  .timeline-date {
    position: absolute;
    top: 20px;
    right: -100px;
    font-size: 1.2em;
    color: #333;
  }

/*INDIAN SCIENTISTS*/
#book-container{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0b0c1f;
}
#book{
    color: #000;
}

.book {
    position: relative;
    width: 25%;
    height: 70%;
    transition: transform 1s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    border-radius: 2rem;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #0b0c1f;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */

button{
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 1s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4{
    z-index: 4;
}

#p5{
    z-index: 3;
}

#p6{
    z-index: 2;
}

#p7{
    z-index: 1;
}


.main-heading{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    font-size:medium;
    text-align: center;
}

.sc-name{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.sc-pic{
    max-width: 90%;
    max-height: 80%;
    margin: 1rem;
    border-color: #0b0c1f;
    border-radius: 2rem;
}

.right,.left{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.sc-work,.sc-details,.sc-title{
    max-width: 90%;
    max-height: 80%;
    margin: 1rem;
}

/*FOOTER*/
#footer{
    position: relative;
    background-color: white;
    color: black;
}

.logo{
    margin-top: 1rem;
    margin-left: 2rem;
}
.row{
    display: flex;
}

.section-container{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
}

.column1,.column2,.column3{
    color: white;
    justify-content: space-between;
    position: relative;
}

.links{
    list-style: none;
}

.links a{
    text-decoration: none;
    color: white;
}

.column1{
    font-size: small;
    width: 20%;
    margin-left: 2rem;
    text-align: left;
}

.column2,.column3{
    width: fit-content;
    padding-bottom: 2rem;
}

.column3{
    margin-right: 2rem;
}

.pic-container{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: left;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin:auto 1rem;
}

.linkedin,.github{
    background-color: #fff;
    margin-right: 1rem;
}

.linkedin:hover, .github:hover{
    width: 1.75rem;
    height: 1.75rem;
}

a:hover{
    color: grey;
    text-decoration: underline;
}
